[Unit]
Description=dns-tracker
After=mysql.service

[Service]
ExecStart=/opt/dns-tracker/run.sh
User=root
TimeoutSec=5
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target

